[project]
	description = This is a post api for azure
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akshaytaywade
[access "refs/for/refs/*"]
	read = group user/akshaytaywade
	push = group user/akshaytaywade
	label-Code-Review = -2..+2 group user/akshaytaywade
	label-Verified = -1..+1 group user/akshaytaywade
	rebase = group user/akshaytaywade
	removeReviewer = group user/akshaytaywade
	submit = group user/akshaytaywade
[access "refs/heads/*"]
	read = group user/akshaytaywade
	create = group user/akshaytaywade
	push = +force group user/akshaytaywade
	pushMerge = group user/akshaytaywade
[access "refs/tags/*"]
	push = group user/akshaytaywade
	push = +force group user/akshaytaywade
